<div class="container">
  <div class="content">
    <div class="all-jobs-container">
      <div class="all-jobs-header">
        <h3>all jobs status</h3>
        <a routerLink="/">Monthly <i class="fa-solid fa-chevron-down"></i></a>
      </div>
      <div class="all-jobs-info">
        <div class="chart"></div>
        <div class="chart-info"></div>
      </div>
    </div>
    <div class="daily-jobs-container">
      <div class="daily-jobs-header">
        <h3>my daily jobs status</h3>
        <p>Latest Update On 10-05-2023</p>
      </div>
      <div class="daily-jobs-info">
        <div class="daily-job-card">
          <div class="card-content">
            <div class="icons"><i class="fa-regular fa-paste"></i></div>
            <h3>3800</h3>
          </div>
          <p>all jobs</p>
        </div>
        <div class="daily-job-card">
            <div class="card-content">
              <div class="icons"><i class="fa-regular fa-paste"></i></div>
              <h3>3800</h3>
            </div>
            <p>all jobs</p>
        </div>
        <div class="daily-job-card">
            <div class="card-content">
              <div class="icons"><i class="fa-regular fa-paste"></i></div>
              <h3>3800</h3>
            </div>
            <p>all jobs</p>
        </div>
        <div class="daily-job-card">
            <div class="card-content">
              <div class="icons"><i class="fa-regular fa-paste"></i></div>
              <h3>3800</h3>
            </div>
            <p>all jobs</p>
        </div>
        <div class="daily-job-card">
            <div class="card-content">
              <div class="icons"><i class="fa-regular fa-paste"></i></div>
              <h3>3800</h3>
            </div>
            <p>all jobs</p>
        </div>
      </div>
    </div>
  </div>
</div>
