<div class="container">
  <div class="content">
    <h2>hi ,mohamed ahmed</h2>
    <div class="search-contanier">
      <div class="search-info">
        <h3>job ID</h3>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="search-input">
        <input type="text" placeholder="search by job id" />
      </div>
      <div class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="search-advanced">
      <i class="fa-solid fa-chevron-down"></i>
      <h4>advanced search</h4>
    </div>
  </div>
</div>
